@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: var(--main-margin-y);
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
    color: var(--secondary-color);
}

p {
    font-family: 'Titillium Web', sans-serif;
}

.name {
    font-family: 'Overlock', cursive;
}