:root {
    /* --------------------
        COLORS
    -------------------- */

    --primary-color: #be9359;
    --secondary-color: #b1b1b1;

    /* --------------------
        CONTAINERS SIZE
    -------------------- */

    --main-container-width: 1160px;
    --card-container-width: 22.5rem;

}